.table-container {
    margin-top: 50px;
    margin-right: 15px;
    margin-left: 15px;
}

.deletebutton {
    text-align: center;
    margin-right: 5px;
    
}

.editbutton {
    text-align: center;
    margin-left: 5px;
    margin-right: -98px;
}

.deletebutton, .editbutton {
    display: inline-block;
}