.table-container {
    margin-top: 50px;
    margin-right: 15px;
    margin-left: 15px;
}

.deletebutton {
    text-align: center;
    margin-left: 5px;
    margin-right: -98px;
}

.updatebutton {
    text-align: center;
    margin-right: 5px;
}

.deletebutton, .updatebutton {
    display: inline-block;
}